
<section id="product">
<div>
    <mat-card class="example-card mat-elevation-z4">
        <img mat-card-image src="./assets/products/{{image}}">
        <mat-card-content>
            <h2>{{name}} - {{producer}}</h2>
            <p>{{description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div class="flex">
                <div class="left">
                    <span>Price: {{price}} $</span>
                </div>
                <div class="right">
                    <a class="btn btn-one" href="" mat-stroked-button>Add to cart&nbsp;&nbsp;<mat-icon>shopping_cart</mat-icon></a>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
</section>

